.root {
  width: 400px;
  height: 300px;
  background: #f4f4f4;
  margin: 0 auto;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 30px;
  border-radius: 5px;
}

.root input {
  height: 30px;
  width: 300px;
}

.root .title {
  display: inline-block;
  width: 60px;
}

.error {
  color: red;
  font-size: 12px;
  height: 50px;
  padding-left: 20px;
  display: flex;
  align-items: center;
}

.root button {
  display: inline-block;
  height: 50px;
}
